<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xhh.demo.dfs.dal.mapper.DBDataMapper" >

    <resultMap id="BaseResultMap" type="com.xhh.demo.dfs.dal.models.DBModelDO" >
        <id column="T_SEQ" property="id" jdbcType="DECIMAL" />
        <id column="ID_PIC" property="fileName" jdbcType="VARCHAR" />
        <!--<result column="CREATED_AT" property="createdAt" jdbcType="TIMESTAMP" />-->
        <!--<result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />-->
        <!--<result column="UPDATED_AT" property="updatedAt" jdbcType="TIMESTAMP" />-->
        <!--<result column="UPDATED_BY" property="updatedBy" jdbcType="VARCHAR" />-->
    </resultMap>

    <sql id="Base_Column_List">
        T_SEQ,
        ID_PIC
    </sql>

    <!-- 分页查询获取数据总条数 -->
    <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        /* selectCount */
        SELECT
            COUNT(1)
        FROM
            T_REALNAME_APPLY
        WHERE
            ID_PIC is not null
    </select>

    <!-- 分页查询获取数据 -->
    <select id="selectByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        /* selectByPage */
        SELECT
            a.*
        FROM
            (
                SELECT
                    t.*, ROWNUM rnum
                FROM
                    (
                        SELECT
                            <include refid="Base_Column_List"/>
                        FROM
                            T_REALNAME_APPLY
                        WHERE
                            ID_PIC is not null
                    ) t
                WHERE
                    ROWNUM <![CDATA[ <= ]]> #{endIndex,jdbcType=DECIMAL}
            ) a
        WHERE
            rnum > #{startIndex,jdbcType=DECIMAL}
    </select>

</mapper>