<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8">
            <Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] %logger %line --%mdc{client} %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.apache.zookeeper" level="OFF" />
    <logger name="org.apache.curator" level="OFF" />

    <!-- INFO 输出到 info.log、ERROR 输出到 error.log -->
    <root level="DEBUG" name="com.xhh.demo">
        <appender-ref ref="stdout"/>
    </root>

</configuration>